{% extends 'personalapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <br><br><br>
  <div class="container">
  	<div class="row">
      <div class="col-md2">
      	{% include 'personalapp/includes/inc__lcab_menu.html' %}
      </div>
      <div class="col-md2">
          <br><br>
            <table class="table">
              <thead>
                <th>дата</th><th>вес</th><th>ОГ</th><th>ОЖ</th><th>ОБиц</th><th>ОБед</th><th>ОГол</th>
              </thead>
              <tbody>
              {% for ant in antropometries %}
                  <tr>
                    <td>{{ ant.add_datetime }}</td>
                    <td>{{ ant.weight }}</td>
                    <td>{{ ant.chest }}</td>
                    <td>{{ ant.abdominal }}</td>
                    <td>{{ ant.biceps }}</td>
                    <td>{{ ant.thigh }}</td>
                    <td>{{ ant.shin }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
            <br><br>
            <div>
                Введите новые антропометрические данные<br>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>{{ form.as_table }}</table>
                    <input class="form-control" type="submit" value="сохранить">
                </form>
              <br><br><br><br>
            </div>
      </div>
  	</div>
  </div>
{% endblock %}
