{% extends 'personalapp/base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md2">
        {% include 'personalapp/includes/inc__lcab_menu.html' %}
      </div>
      <div class="col-md2">
        <br><br>
        <div>
          <p>Расписание будущих тренировок</p>
          {% if future_shed_user %}
            {% for shed in future_shed_user %}
                <div>{{ shed.date }} {{ shed.time }}</div>
            {% endfor %}
          {% else %}
            У вас не запланированы тренировки
          {% endif %}
        </div>

            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>&nbsp;</th>
                        {% for day in day_current_week %}
                            <th width="13%">
                                <p class="vertical">{{ day }}<br>{{ day | date:"l"}}</p>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for hour in hour_current_day %}
                    <tr>
                        <td>{{ hour }} </td>
                        {% for day in day_current_week %}
                            <td rowspan="1">
                             {% for item in items %}
                                {% if item.date == day and item.time >= hour and item.time|date:"H" <= hour|date:"H" %}
                                  {% if item.date|date:"d" > now|date:"d" and item.time|date:"h" > now|date:"h"%}
                                       <p class="btn-secondary m-0 p-0">
                                    {% elif item.is_visit %}
                                       <p class="btn-success m-0 p-0">
                                    {% else %}
                                        <p class="btn-danger m-0 p-0">
                                    {% endif %}
                                          {{ item.time }}<br>{{ item.fitnessuser }} {{ item.training }}
                                        </p>
                                {% endif %}
                            {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
  </div>
{% endblock %}
