<nav class="navbar bg-light">
<ul class="navbar-nav justify-content-left text-left">
  {% if user.is_authenticated %}
      <li class="nav-item">
          <img src="{{ MEDIA_URL }}{{ user.avatar }}" width='90' height='70' alt=''>
          <div>Ваш личный кабинет <br>{{ user }}</div>
          <button type="button" class="btn btn-outline-primary">
              <a href="{% url 'auth:update' %}"> Редактировать профиль </a>
          </button>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'personalapp:index' %}">Расписание и статистика</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personalapp:training' %}">Программа тренировок</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personalapp:antropometry' %}">Антропометрические данные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personalapp:fitnessrhomb' %}">Фитнес ромб</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personalapp:lvlup' %}">Прогресс</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'personalapp:feedback' %}">Написать письмо</a>
      </li>
  {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Войти</a>
      </li>
  {% endif %}
</ul>