{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<div class="container">
  <div class="row">
  {% for photo in photos %}
    <div class="col-sm-3">
        <img src="{{ MEDIA_URL }}{{ photo.image }}" width="250" height="200" alt="">
        <h7> Время загрузки: {{ photo.add_datetime }} </h7>
    </div>
  {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center">
        {% if photos.has_other_pages %}
          <ul class="pagination">
            {% if photos.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ photos.previous_page_number }}">Предыдущая</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <a class="page-link"><span>Предыдущая</span></a>
              </li>
            {% endif %}
            {% for i in photos.paginator.page_range %}
              {% if photos.number == i %}
                  <li class="page-item active">
                      <a class="page-link"><span>{{ i }}</span></a><span class="sr-only">(current)</span>
                  </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if photos.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ photos.next_page_number }}">Следущая</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <a class="page-link"><span>Следущая</span></a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
</div>
</div>



{% endblock %}